* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 15px;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: wrap;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

#span



.beat {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
}

.beat.active {
    background-color: #333;
}

.beat-boxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.beat-box {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #ccc;
    border: 1px solid #333;
    transition: background-color 0.1s;
}

.beat-box.active {
    background-color: #333;
}

.beat-boxes.running {
    border: 2px solid #ff0000; /* Change the color to red when running */
    padding: 10px;
    border-radius: 5px;
}

/*
#loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}
#loading .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
}
*/
/*
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

*/